/* Cuerpo html */
body{
    background-color: #eaeaea;
}

/* Normalizador de fuentes para etiquetas */
h1, h2, h3, h4, h5, label, a, span{
    font-family: sans-serif;
}

/* Etiqueta H1 específica */
h1.main-title{
    text-align: center;
    font-size: 150%;
}

/* Etiqueta H3 específica */
h3.first-text{
    margin: 20px;
    color: grey;
    font-size: 100%;
}

/* Etiqueta H3 específica */
h3.second-title{
    text-align: center;
}

/* Etiqueta P normalizadora */
p.normalize{
    font-family: sans-serif;
}

/* Etiqueta P especifica */
p.lorem{
    font-family: "Times New Roman", Times, serif;
}

/* Largo normal de los select */
select{
    margin-left: 20px;
    width: 200px;
}

/* Largo de barra separadora */
hr{
    width: 95%;
}

/* Diseño a textarea e inputs */
textarea, input{
    border: 2px solid #C8C7C7;
    border-radius: 6px;
    background-color: #f7f7f7;
}

/* Normalizador de select */
select:invalid { color: gray; }

/* Tablets y computadoras */ 
@media only screen and (min-device-width: 768px) {
    #et-logo{
        margin: 0 auto;
        display: block;
        max-height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .main-container{
        width: 70%;
        margin: 0 auto;
        box-shadow: 0px 0px 15px #636363;
        border-radius: 10px;
        background-color: white;
        padding: 20px;
    }

    /* Contenedores para datos y dos columnas */
    .data-div, .two-column{
        width: 100%;
        display: flex;
    }

    /* Contenedores menores para una, dos y tres columnas */
    .one-column-small, .two-column-small, .three-column-small{
        width: 70%;
        margin: 0 auto;
        display: flex;
    }

    .first-column, .second-column {
        width: 50%;
    } 

    .button-generate{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #generate, #back-to-main{
        padding: 15px 25px;
        color: white;
        background-color: #2B63B7;
        text-decoration: none;
        cursor: pointer;
        border-radius: 15px;
    }

    .button-suggest{
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .suggest-b{
        padding: 10px 20px;
        color: white;
        background-color: #2B63B7;
        text-decoration: none;
        cursor: pointer;
        border-radius: 8px;
        font-size: 70%;
    }

    #normal-label{
        font-size: 100%;
    }

    #charResTitle, #priceTitle{
        text-align: center;
        font-size: 70%;
        margin-top: 10px;
        margin-bottom: 10px; 
        padding: 0;
    }

    #total-Char{
        text-align: center;
    }

    /* Precio en ventana flotante de precio */
    #total-Price{
        text-align: center;
        color: red;
    }

    .cantChar{
        position: fixed;
        left: 100px;
        top: 20px;
        height: 80px;
        width: 150px;
        background-color: white;
        border: solid 1px gray;
        border-radius: 7px;
    }

    /* Ventana flotante de precio */
    .cantPrice{
        position: fixed;
        right: 100px;
        top: 20px;
        height: 80px;
        width: 150px;
        background-color: white;
        border: solid 1px gray;
        border-radius: 7px;
    }

    #name-lastname, #parti, #nickname{
        width: 93%;
        height: 18px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    /* Normalizador de inputs para facturacion */
    #client-data{
        width: 100%;
        height: 30px;
        object-fit: cover;
    }

    .symbol-rel{
        height: 25px;
        width: 25px;
        margin: 0;
        padding-right: 5px;
        padding-left: 10px;
    }

    .symbol-rel-final{
        height: 25px;
        width: 25px;
        padding-right: 5px;
    }

    .death-name{
        font-size: 110%;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }

    .death-name-sin{
        margin-left: 20px;
        font-size: 110%;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }

    #deudos, #ad-edit, #deu2, #sepel{
        width: 93%;
        height: 80px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #datepicker{
        width: 30%;
        height: 18px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #sala, #hora-vel, #hora-cor{
        width: 20%;
        height: 18px;
        margin-bottom: 20px;
    }

    #address{
        width: 90%;
        height: 18px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #final-text{
        width: 80%;
        border: 2px solid gray;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 20px;
    }

    #preview-text{
        width: 300px;
        border: 2px solid gray;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    .name-title-con, .name-title-sin{
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }

    .symbol-rel-prev{
        height: 25px;
        width: 25px;
        padding-right: 5px;
    }

    #final-title{
        width: 100%;
        height: 35px;
        margin: 0;
        padding: 0;
    }

    #final-content{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #ad-complete{
        margin-right: 20px;
    }

    #preview{
        font-style: italic;
        margin-left: 10%;
    }

    .terms{
        margin: 0 auto;
        width: 85%;
        color: white;
        background-color: #008CBA;
        padding: 20px;
    }

    .last-buttons{
        margin: 0 auto;
        text-align: center;
    }

    #send-form, #reset-form{
        padding: 15px 25px;
        color: white;
        background-color: #2B63B7;
        text-decoration: none;
        cursor: pointer;
        border-radius: 15px;
        font-size: 85%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: none;
    }

    #price{
        height: 25px;
        font-size: 120%;
        color: red;
    }

    .final-message{
        text-align: center;
        width: 100%;
    }

    #no-resaltar{
        font-size: 80%;
    }

    #resaltar{
        color: red;
    }

    /* Contenedor columna de 50% */
    .cincuenta-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 50%;
    }

    /* Contenedor columna de 70% */
    .setenta-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 70%;
    } 

    /* Contenedor columna de 30% */
    .treinta-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 30%;
    }

    /* Contenedor columna de 100% */
    .cien-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 100%;
    }

    /* Select de Departamento para facturacion */
    #departamento{
        width: 95%;
        height: 35px;
    }
}

/* Celulares y tablets pequeñas */
@media only screen and (max-device-width: 767px){
    /* Logo El Telégrafo */
    #et-logo{
        margin: 0 auto;
        display: block;
        max-height: 200px;
        width: 100%;
        object-fit: cover;
    }

    /* Contenedor principal */
    .main-container{
        width: 70%;
        margin: 0 auto;
        box-shadow: 0px 0px 15px #636363;
        border-radius: 10px;
        background-color: white;
        padding: 20px;
    }

    /* Contenedores para datos y dos columnas */
    .data-div, .two-column{
        width: 100%;
    }

    /* Contenedores menores para una, dos y tres columnas */
    .one-column-small, .two-column-small, .three-column-small{
        width: 70%;
        margin: 0 auto;
        display: flex;
    }

    /* Contenedor columna para two-column */
    .first-column, .second-column {
        width: 100%;
        text-align: center;
    }

    /* Simbolo religioso a elegir */
    .symbol-rel{
        height: 25px;
        width: 25px;
        margin: 0;
        padding-right: 5px;
        padding-left: 10px;
    }

    /* Simbolo religioso escogido */
    .symbol-rel-final{
        height: 25px;
        width: 25px;
        padding-right: 5px;
    }

    /* Nombre del difunto */
    .death-name{
        font-size: 110%;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }

    /* Nombre del difunto */
    .death-name-sin{
        margin-left: 20px;
        font-size: 110%;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }
    
    /* Boton genérico */
    .button-generate{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    /* Boton genérico para sugerencias */
    .button-suggest{
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    #generate, #back-to-main{
        padding: 15px 25px;
        color: white;
        background-color: #2B63B7;
        text-decoration: none;
        cursor: pointer;
        border-radius: 15px;
        font-size: 85%;
    }

    .suggest-b{
        padding: 10px 20px;
        color: white;
        background-color: #2B63B7;
        text-decoration: none;
        cursor: pointer;
        border-radius: 8px;
        font-size: 60%;
    }

    #normal-label{
        font-size: 120%;
    }

    #charResTitle, #priceTitle{
        text-align: center;
        font-size: 100%;
        margin-top: 10px;
        margin-bottom: 10px; 
        padding: 0;
    }

    #total-Char{
        text-align: center;
        font-size: 120%;
    }

    /* Precio en ventana flotante de precio */
    #total-Price{
        text-align: center;
        color: red;
        font-size: 120%;
    }

    .cantChar{
        position: fixed;
        left: 100px;
        top: 20px;
        height: 120px;
        width: 200px;
        background-color: white;
        border: solid 1px gray;
        border-radius: 7px;
    }

    /* Ventana flotante de precio */
    .cantPrice{
        position: fixed;
        right: 100px;
        top: 20px;
        height: 120px;
        width: 200px;
        background-color: white;
        border: solid 1px gray;
        border-radius: 7px;
    }

    #name-lastname, #parti, #nickname{
        width: 90%;
        height: 40px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 120%;
    }

    /* Normalizador de inputs para facturacion */
    #client-data{
        width: 100%;
        height: 30px;
        object-fit: cover;
    }

    #deudos, #ad-edit, #deu2, #sepel{
        width: 90%;
        height: 80px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #datepicker{
        width: 30%;
        height: 40px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 120%;
    }

    #sala, #hora-vel, #hora-cor{
        width: 20%;
        height: 18px;
        margin-bottom: 20px;
    }

    #address{
        width: 90%;
        height: 18px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #final-text{
        width: 80%;
        border: 2px solid gray;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 20px;
    }

    #preview-text{
        width: 300px;
        border: 2px solid gray;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 20px;
    }

    .name-title-con, .name-title-sin{
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }

    .symbol-rel-prev{
        height: 25px;
        width: 25px;
        padding-right: 5px;
    }

    #final-title{
        width: 100%;
        height: 35px;
        margin: 0;
        padding: 0;
    }

    #final-content{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #ad-complete{
        margin-right: 20px;
    }

    #preview{
        font-style: italic;
        margin-left: 10%;
    }

    .terms{
        margin: 0 auto;
        width: 85%;
        color: white;
        background-color: #008CBA;
        padding: 20px;
    }

    .last-buttons{
        margin: 0 auto;
        text-align: center;
    }

    #send-form, #reset-form{
        padding: 15px 25px;
        color: white;
        background-color: #2B63B7;
        text-decoration: none;
        cursor: pointer;
        border-radius: 15px;
        font-size: 85%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: none;
    }

    #price{
        height: 25px;
        font-size: 120%;
        color: red;
    }

    .final-message{
        text-align: center;
        width: 100%;
    }

    #no-resaltar{
        font-size: 80%;
    }

    #resaltar{
        color: red;
    }

    /* Contenedor columna de 50% */
    .cincuenta-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 50%;
    }

    /* Contenedor columna de 70% */
    .setenta-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 70%;
    } 

    /* Contenedor columna de 30% */
    .treinta-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 30%;
    }

    /* Contenedor columna de 100% */
    .cien-cd{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 100%;
    }

    /* Select de Departamento para facturacion */
    #departamento{
        width: 95%;
        height: 35px;
    }

}



