body{
    background-color: #eaeaea;
}

h1, h2, h3, h4, h5, label, a, span{
    font-family: sans-serif;
}

h1.main-title{
    text-align: center;
}

h3.first-text{
    margin: 20px;
    color: grey;
}

h3.second-title{
    text-align: center;
}

p.normalize{
    font-family: sans-serif;
}

p.lorem{
    font-family: "Times New Roman", Times, serif;
}

select{
    width: 200px;
}

hr{
    width: 95%;
}

textarea, input{
    border: 2px solid #C8C7C7;
    border-radius: 6px;
    background-color: white;
}

select:invalid { color: gray; }

#et-logo{
    margin: 0 auto;
    display: block;
}

.main-container{
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 15px #636363;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
}

.two-column{
    width: 100%;
    display: flex;
}

.first-column {
    width: 50%;
} 

.second-column{
    width: 50%;
}

.symbol-rel{
    height: 25px;
    width: 25px;
    margin: 0;
    padding-right: 5px;
    padding-left: 10px;
}

.symbol-rel-final{
    height: 25px;
    width: 25px;
    padding-right: 5px;
}

.death-name{
    font-size: 110%;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.death-name-sin{
    font-size: 110%;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.button-generate{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.button-suggest{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#name-lastname, #parti, #nickname{
    width: 95%;
    height: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

#deudos, #ad-edit, #deu2, #sepel{
    width: 95%;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.suggest-b{
    padding: 10px 20px;
    color: white;
    background-color: #2B63B7;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 70%;
}

#datepicker{
    width: 30%;
    height: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#sala, #hora-vel, #hora-cor{
    width: 20%;
    height: 18px;
    margin-bottom: 20px;
}

#address{
    width: 90%;
    height: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#generate, #back-to-main{
    padding: 15px 25px;
    color: white;
    background-color: #2B63B7;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
}

#final-text{
    width: 80%;
    border: 2px solid gray;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

#preview-text{
    width: 300px;
    border: 2px solid gray;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

.name-title-con, .name-title-sin{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.symbol-rel-prev{
    height: 25px;
    width: 25px;
    padding-right: 5px; 
}

#final-title{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}

#final-content{
    width: 100%;
    margin: 0;
    padding: 0;
}

#ad-complete{
    margin-right: 20px;
}

#preview{
    font-style: italic;
    margin-left: 10%;
}

#charResTitle{
    text-align: center;
    font-size: 70%;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding: 0;
}

#total-Char{
    text-align: center;

}

.cantChar{
    position: fixed;
    left: 100px;
    top: 20px;
    height: 80px;
    width: 150px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 7px;
}

#normal-label{
    font-size: 100%;
}

.terms{
    margin: 0 auto;
    width: 85%;
    color: white;
    background-color: #008CBA;
    padding: 20px;
}

.last-buttons{
    margin: 0 auto;
    text-align: center;
}

#send-form, #reset-form{
    padding: 15px 25px;
    color: white;
    background-color: #2B63B7;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 85%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
}

#price{
    height: 25px;
    font-size: 120%;
    color: red;
}

.final-message{
    text-align: center;
    width: 100%;
}

#no-resaltar{
    font-size: 80%;
}

#resaltar{
    color: red;
}

