<!DOCTYPE html>
<html>
    <head>
        <base href="{{ url_base }}">
        <meta charset="utf-8">
        <title>{{ titulo }}</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="static/js/generatedText.js"></script>
        <script src="static/js/selch.js"></script>
        <!-- <script src="static/js/angular.js"></script> -->
    </head>
    <body>
        {{ mensaje }}
        <br>
        {{ identificador }}
    </body>
</html>