<!DOCTYPE html>
<html>
    <head>
        <base href="{{ url_base }}">
        <meta charset="utf-8">
        <title>{{ titulo }}</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/noty.css">
        <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 1025px)" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" href="static/css/mobile-style.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="static/js/noty.js"></script>
        <script src="static/js/generatedTextv2.js"></script>
        <script src="static/js/selch.js"></script>
        <script src="static/js/suggested-text.js"></script>
        <!-- <script src="static/js/count.js"></script> -->
        <!-- <script src="static/js/angular.js"></script> -->
    </head>
    <body>
        <div class="cantChar">
            <p class="normalize" id="charResTitle">Caracteres restantes:</p>
            <p class="normalize" id="total-Char">---</p>
        </div>
        <div class="main-container">
            <br>
            <img id="et-logo" src="public/media/eltelegrafo-logo.png">
            <br>
            <h1 class="main-title">Avisos fúnebres</h1>
            <hr>
            <form id="death-form">
                <h3 class="first-text">Por medio de este formulario usted podrá publicar avisos fúnebres en la edición impresa de El Telégrafo y en www.eltelegrafo.com</h3>
                <div class="two-column">
                    <div class="first-column">
                        <br>
                        <label id="ad-type-avi">Tipo de aviso</label>
                        <select id="ad-type"><option value="0" disabled selected hidden>Seleccione opción...</option><option value="1">Una columna - 400 caracteres</option><option value="2">Dos columnas - 520 caracteres</option><option value="3">Tres columnas - 630 caracteres</option></select>
                        <!-- <p id="ad-type-sep">Sepelio<select id="ad-type2"><option value="0" disabled selected hidden>Seleccione opción...</option><option value="1">A realizarse</option><option value="2">Realizado</option></select></p> -->
                    </div>
                    <div class="second-column">
                        <br>
                        <label>Símbolo religioso</label>
                        <br>
                        <img src="public/media/cruz.png" class="symbol-rel"><input type="radio" name="rel" id="cruz">
                        <img src="public/media/estrella-de-david.png" class="symbol-rel"><input type="radio" name="rel" id="star">
                        <img src="public/media/sin-simbolo.png" class="symbol-rel"><input type="radio" name="rel" id="sin-s" checked>
                    </div>
                </div>
                <br>
                <div class="preview-text" id="preview-text">
                    <br>
                    <span class="name-title-sin">NOMBRE NOMBRE APELLIDO APELLIDO (APODO)</span>
                    <p class="lorem" id="lorem-ipsum-preview">(Q.E.P.D) Falleció en la Paz del Señor ayer viernes 7 de mayo de 2016. Sus hijos: Carlos, Ana, Pedro, nietos y bisnietos y demás deudos participan con profundo dolor este fallecimiento y el sepelio efectuado en el Cementerio Central.</p>
                </div>
                <br>
                <hr>
                <h3 class="second-title">Datos del aviso</h3>
                <h3 class="first-text">Por favor ingrese los datos de su aviso, con mayúsculas/minúsculas, tal como desea que sea publicado. No se aceptan textos todos en mayúscula.</h3>
                <label id="normal-label">Nombre completo</label><input type="text" id="name-lastname">
                <br>
                <label id="normal-label">Apodo</label><input type="text" id="nickname">
                <br>
                <label id="normal-label">Fecha de deceso</label>
                <br>
                <input type="text" name="date-deceso" id="datepicker">
                <br>
                <label id="normal-label">Mensaje de condolencias inicial</label>
                <br>
                <div class="button-suggest"><a class="suggest-b" id="sugg-1">Sugerencia</a></div><textarea name="deudos" id="deudos"></textarea>
                <br>
                <label id="normal-label">Quienes participan</label><input type="text" id="parti">
                <br>
                <label id="normal-label">Mensaje de condolencias final</label>
                <br>
                <div class="button-suggest"><a class="suggest-b" id="sugg-2">Sugerencia</a></div><textarea name="deu2" id="deu2"></textarea>
                <br>
                <label id="normal-label">Datos del sepelio</label>
                <br>
                <textarea name="sepel" id="sepel"></textarea>
                <br>
                <div class="button-generate">
                    <a id="generate">Generar texto</a>
                </div>
                <br>
            </form>
            <p class="normalize" id="preview">Previsualización del aviso:</p>
            <div id="final-text">
                <br>
                <div id="final-title"></div>
                <div id="final-content"></div>
                <br>
            </div>
            <br>
            <hr>
            <br>
            <div class="terms"><p class="normalize" id="terms-1">Términos y condiciones:</p>
            <p class="normalize" id="terms-2">DIARIO EL TELÉGRAFO S.A. en su buena fé se reserva el derecho de corregir, agregar o quitar palabras o frases si lo considera necesario para optimizar el contenido e información de este aviso y/o evitar que las mismas puedan resultar ofensivas.</p></div>
            <br>
            <label>Precio (IVA incluido):</label>
            <input type="text" name="price" id="price" disabled>
            <br><br>
            <div class="last-buttons">
                <input type="submit" name="send-form" value="Enviar" id="send-form">
                <input type="reset" name="reset-form" value="Cancelar" id="reset-form">
            </div>
        </div>
    </body>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
</html>